.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 25px 0;
}

.header__container {
  @extend %container;
  position: relative;
}

.site-nav {
  @extend %centeredFlex;
}

.logo {
  margin: 0 100px;
}

.site-nav__item {
  position: relative;
  padding-bottom: 5px;
  opacity: 0.8;

  color: $contrast-color;
  transition: opacity $timing-function;

  &:nth-child(1),
  &:nth-child(4) {
    margin-right: 85px;
  }

  &::after {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $contrast-color;
    content: '';
    transition: width $timing-function;
  }

  &:hover,
  &:focus {
    opacity: 1;

    &::after {
      width: 100%;
    }
  }
}

.site-nav__item--active {
  opacity: 1;
  color: $contrast-color;

  &::after {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $contrast-color;
    content: '';
  }
}
